  .post {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--color-grey-50);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    height: 485px;
    transform: scale(1);
  }
  
  .highlighted {
    background-color: var(--color-success-100);
  }

  .post a {
    color: var(--color-grey-100);
  }
  
  .image {
    width: 100%;
    max-height: 20rem;
    overflow: hidden;
    z-index: 0;
  }
  
  .image img {
    object-fit: cover;
  }
  
  .body {
    padding: var(--size-4);
  }
  
  .body h3 {
    display: block;
    margin: var(--size-3) 0;
    font-size: var(--size-4);
    color: var(--color-lighter-blue);
    z-index: 1;
    overflow: hidden;
    max-height: 50px;
  }
  
  .body time {
    font-style: italic;
    color: var(--color-grey-600);
  }
  
  .content {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }

  .btnHighlight {
    position: fixed;
    top: 91%;
    left: 42%;
    outline: none;
    border: none;
    background: transparent;
  }