.pagination ul {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 32px;
}

.pagination li {
  padding: 3px;
  margin: 3px;
  border: 1px solid var(--clr-silver);
  border-radius: 2px;
  list-style-type: none;
}

.pagination li:hover,
.pagination li:active {
  background-color: var(--clr-silver);
  color: white;
  cursor: pointer;
}
